/* Variables de colores globales */
$primary_color      : #FFEFE7;
$secondary_color    : #FFDAC6;
$tertiary_color     : #BABD8D;
$primary_text_color : #7C6A0A;
$quaternary-color   : #FA9500;

/* Tipografía */
$font-stack: 'IBM Plex Sans', sans-serif;

/* Fuente de parrafos */
$paragraph-size: 1.5em;

/* Uso de Mixins con argumentos */
@mixin flexCenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

/* Mixin sin argumentos */
@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
    cursor: pointer;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary_color;
  font-family: $font-stack;
}

nav {
  background-color: $primary_color;
  width: auto;
  @include flexCenter(row, space-between, center);
  // display: flex;
  // justify-content: space-between;
  color: $primary_text_color;
  padding: 15px;

  // Anidar etiquetas
  p {
    font-size: $paragraph-size;
    padding-left: 30px;
  }

  .icons {
    display: flex;
    gap: 15px;

    // Anidar etiquetas - 1. Se elimina el button para usar el mixin
    // button {
    //   background: none;
    //   border-style: none;
    //   cursor: pointer;
    // }

    // 2.  Se añaden los estilos del mixin
    @include buttonStyle(); // se puede usar el (); o no es indiferente

  }
}

article {
  width: auto;
  color: $primary_text_color;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
  // display: flex;
  // justify-content: space-between;
  @include flexCenter(row, space-between, center);

  .impact-section {
    // width: 50%;
    // display: flex;
    // flex-direction: column;
    @include flexCenter(column, space-evenly, flex-start);
    padding-top: 50px;
    gap: 25px;
  }

  h1 {
    font-size: 3em;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-size: $paragraph-size;
  }

  @include buttonStyle;
  button {
    width: 12vw;
    padding: 20px;
    background-color: $quaternary-color;
    // border-style: none;
    cursor: pointer;
    border-radius: 35px;
    color: white;
    font-size: 1em;

    &:hover { // propiedad propia de img para decirle que use el hover con &:
      transform: scale(1.1); // Para cuando pasamos el mouse por arriba se haga mas grande
    }

  }

  // .image-section {
  //   // width: 50%;
  //   img {
  //     width: 25vw;
  //     border-radius: 19px;
  //   }
  // }

  img {
    width: 25vw;
    border-radius: 19px;
  }

}

section {
  width: auto;
  height: auto;
  padding: 60px;

  h2 {
    color: $primary_text_color;
    font-size: 2em;
  }

  .healthcare {
    padding-bottom: 60px;

    h2 {
      font-weight: 300;
      padding-bottom: 60px;
    }

    .card-section {
      @include flexCenter(row, space-evenly, center);
      // display: flex;
      width: auto;
      height: auto;
      // justify-content: center;
      flex-wrap: wrap;
      // align-items: center;
      column-gap: 200px;
      row-gap: 80px;
    }

    .product-card {
      width: 14vw;
      height: 50vh;
      background-color: $secondary_color;
      color: $primary_text_color;
      padding: 20px;
      border-radius: 8px;

      .icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;

        svg {
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
      }

      .product-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          width: 16vw;
          height: 30vh;
          object-fit: cover;
          border-radius: 6px;
        }

      }

    }

  }

  .furniture {
    @extend .healthcare; // Aplicar la herencia de las cards de .healthcare

    .product-card {
      background-color: $tertiary_color;
      color: white;
    }

  }

}

.about-us {
  // @extend .healthcare;
  padding-bottom: 65px;
  
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }

  .mission-section {
    @include flexCenter(row, space-evenly, center);

    .earth {
      width: 30vw;
      display: flex;
      gap: 40px;
      color: #E86424;

      img {
        object-fit: contain;
      }
      
      p {
        text-align: center;
        font-size: $paragraph-size;
      }

    }

    .innovation {
      // Uso de la herencia
      @extend .earth;
    }

  }
    
}

.gallery {

  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }

  .gallery-images {
    @include flexCenter(row, space-between, center);

    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%; // mover la imagenes al estirar
      border-radius: 16px;
      
      &:hover { // propiedad propia de img para decirle que use el hover con &:
        transform: scale(1.1); // Para cuando pasamos el mouse por arriba se haga mas grande
      }

    }

  }

}

footer {
  // $background: #FA9500; // Variable local
  background-color: $quaternary-color;
  width: 100%;
  height: 250px;
}
