/* Variables globales */
$primary_color      : #FFEFE7;
$secondary_color    : #FFDAC6;
$tertiary_color     : #BABD8D;
$primary_text_color : #7C6A0A;

/* Tipografica */
$font-stack : 'IBM Plex Sans', sans-serif;

body {
  margin: 0;
  padding: 0;
}